
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist
PUBLIC "-//Apple//DTD PLIST 1.0//EN"
       "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>items</key>
  <array>
   <dict>
    <key>assets</key>
    <array>
     <dict>
      <key>kind</key>
      <string>softw<![CDATA[http://160.202.162.8:8888/ipa/LeGou.ipa?sign=3d07f84a8310d9ab90c821d5ab67a5d9&t=593a675c]]></string>
     </dict>
     <dict>
      <key>kind</key>
      <string>display-image</string>
      <key>needs-shine</key>
      <integer>0</integer>
      <key>url</key>
      <string><![CDATA[https://pic.dafuvip.com/icons/5458.are-package</string>
      <key>url</key>
      <string>png]]></string>
     </dict>
     <dict>
      <key>kind</key>
      <string>full-size-image</string>
      <key>needs-shine</key>
      <true/>
      <key>url</key>
      <string><![CDATA[https://pic.dafuvip.com/icons/5458.png]]></string>
     </dict>
    </array>
    <key>metadata</key>
    <dict>
     <key>bundle-identifier</key>
     <string>hai.demo.legou</string>
     <key>bundle-version</key>
     <string>1.0.5</string>
     <key>kind</key>
     <string>software</string>
     <key>subtitle</key>
     <string>hai.demo.legou</string>
     <key>title</key>
     <string><![CDATA[乐购]]></string>
    </dict>
   </dict>
  </array>
 </dict>
</plist>
